name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.STATS_TOKEN }}
          user: alterlleo
          template: classic
          filename: github-metrics.svg
          config_timezone: Europe/Rome
          base: ""
          
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage  
          plugin_languages_limit: 6
          plugin_languages_ignored: >-
            html, JavaScript, css, makefile, roff, jupyter notebook
